<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.description }}">
    <meta name="keywords" content="{{ site.keywords }}">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <title>{% block title %} title {% endblock %} - {{ site.title }}</title>
    <script>
        // global status:
        window.gs_status = {
        };
    </script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/highlight.js@11.9.0/styles/default.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css">
    <style>
        @font-face {
            font-family: "JetBrainsMono";
            src: url("/static/JetBrainsMono-Regular.woff2");
        }
    </style>

    {% if production %}
    <link rel="stylesheet" href="/static/custom-tailwind.css">
    {% else %}
    <!-- for development only -->
    <script src="https://cdn.tailwindcss.com/3.3.5?plugins=forms,typography,aspect-ratio"></script>
    <script>
        tailwind.config = {
            darkMode: 'class'
        }
    </script>
    <style type="text/tailwindcss">
        {% include "custom-tailwind.css" %}
    </style>
    <!--// development only -->
    {% endif %}

    <script>
        function isDarkMode() {
            let colorScheme = localStorage.getItem('color-scheme');
            if (colorScheme !== null) {
                return colorScheme === 'dark';
            }
            // detect system dark mode:
            return window.matchMedia !== undefined && window.matchMedia('(prefers-color-scheme: dark)').matches;
        }

        function setDarkMode(isDark) {
            console.log(`set color scheme: ${isDark ? 'dark' : 'light'}`);
            localStorage.setItem('color-scheme', isDark ? 'dark' : 'light');
            if (isDark) {
                document.documentElement.classList.add('dark');
                document.documentElement.classList.remove('light');
            } else {
                document.documentElement.classList.add('light');
                document.documentElement.classList.remove('dark');
            }
        }

        (function () {
            setDarkMode(isDarkMode());
        })();

        function showSearch() {
            document.getElementById('gsi-search').classList.remove('hidden');
        }

        function hideSearch() {
            document.getElementById('gsi-search').classList.add('hidden');
        }

        function showOffcanvas() {
            document.getElementById('gsi-offcanvas').classList.remove('hidden');
            let indexDom = document.getElementById('gsi-index');
            document.getElementById('gsi-offcanvas-index').prepend(indexDom);
            window.gs_status.show_offcanvas = true;
            const popup = document.getElementById('gsi-offcanvas-popup');
            if (popup.animate) {
                popup.animate([{ left: "0px" }], 200).onfinish = () => popup.classList.add('gsc-offcanvas-popup-show');
            } else {
                // animation not supported:
                popup.classList.add('gsc-offcanvas-popup-show');
            }
        }

        function hideOffcanvas() {
            document.getElementById('gsi-offcanvas').classList.add('hidden');
            document.getElementById('gsi-offcanvas-popup').classList.remove('gsc-offcanvas-popup-show');
            let indexDom = document.getElementById('gsi-index');
            document.getElementById('gsi-sidebar').prepend(indexDom);
            window.gs_status.show_offcanvas = false;
        }

        function showPopupMenu() {
            console.log('popup' + this);
        }
    </script>
</head>

<body class="gsc-text gsc-bg">
    <div id="gsi-header" class="gsc-bg border-b gsc-border">
        <div class="gsc-container">
            <div class="relative flex items-center">
                <div class="relative flex items-center">
                    <nav class="gsc-nav gsc-nav-main font-semibold">
                        <ul class="flex">
                            {% if book_index %}
                            <li class="mr-4 max-md:list-item md:hidden">
                                <a href="#0" onclick="showOffcanvas();return false;"
                                    class="block py-4 border-b-2 border-transparent">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M8.25 6.75h12M8.25 12h12m-12 5.25h12M3.75 6.75h.007v.008H3.75V6.75zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zM3.75 12h.007v.008H3.75V12zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm-.375 5.25h.007v.008H3.75v-.008zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
                                    </svg>
                                </a>
                            </li>
                            {% endif %}
                            <li class="mr-4 max-md:list-item md:hidden">
                                <a href="/" class="inline-block py-4">
                                    <img src="/static/logo.svg" class="inline-block max-w-none h-6">
                                </a>
                            </li>
                            <li class="mr-4 md:list-item max-md:hidden">
                                <a href="/" class="inline-block py-4">
                                    <img src="/static/logo.svg" class="inline-block max-w-none h-6">
                                    {{ site.title }}
                                </a>
                            </li>
                            <!-- navigation -->
                            {% if site.navigation %}
                            {% for nav in site.navigation %}
                            {% if nav.type == 'book' %}
                            <li class="gsc-nav-li mr-4">
                                <a href="/books/{{ nav.ref }}/index.html">{{ nav.title }}</a>
                            </li>
                            {% elif nav.type == 'page' %}
                            <li class="gsc-nav-li mr-4">
                                <a href="/pages/{{ nav.ref }}/index.html">{{ nav.title }}</a>
                            </li>
                            {% elif nav.type == 'blog' %}
                            <li class="gsc-nav-li mr-4">
                                <a href="/blogs/index.html">{{ nav.title }}</a>
                            </li>
                            {% elif nav.type == 'link' %}
                            <li class="gsc-nav-li mr-4">
                                <a href="{{ nav.ref }}" {% if nav.external %} target="_blank" {% endif %}>
                                    {{ nav.title }}
                                </a>
                            </li>
                            {% else %}
                            <li class="gsc-nav-li mr-4"><a href="#0">INVALID {{ nav.type }}</a></li>
                            {% endif %}
                            {% endfor %}
                            {% endif %}
                            <!--// navigation -->
                            <li class="mr-4 relative"><!-- more menu -->
                                <a class="inline-block py-4" href="#0" onclick="showPopupMenu();return false;">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="currentColor" class="inline-block w-6 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
                                    </svg>
                                </a>

                                <div
                                    class="gsc-popup-menu hidden absolute translate-y-[calc(var(--header-bar-height)-8px)] z-20 top-0 right-0 py-2 rounded shadow-md bg-slate-50 dark:bg-slate-700 border border-slate-300 dark:border-slate-600">
                                    <ul>
                                        <li class="block">
                                            <a href="#0"
                                                class="block whitespace-nowrap px-4 py-2 w-full hover:bg-sky-100 dark:hover:bg-sky-800">
                                                Light Gray
                                            </a>
                                        </li>
                                        <li class="block">
                                            <a href="#0"
                                                class="block whitespace-nowrap px-4 py-2 w-full hover:bg-sky-100 dark:hover:bg-sky-800">
                                                Light Gray Hello
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>
                <script>
                    const gs_path_prefix = (p) => {
                        if (p.endsWith('/index.html')) {
                            return p.substring(0, p.length - 10);
                        }
                        return p;
                    }
                    const urlPathPrefix = gs_path_prefix(location.href);
                    document.querySelectorAll('nav.gsc-nav li.gsc-nav-li a').forEach(a => {
                        if (urlPathPrefix.startsWith(gs_path_prefix(a.href))) {
                            a.classList.add('gsc-active');
                        }
                    });
                </script>
                <div class="relative flex items-center ml-auto">
                    <nav class="gsc-nav gsc-nav-right font-semibold">
                        <ul class="flex space-x-4">
                            <!-- search -->
                            <li><a class="inline-block py-4" href="#0" onclick="showSearch();return false;">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="currentColor" class="inline-block w-6 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                                    </svg>
                                </a>
                            </li>
                            <!--// search -->
                            <!-- light mode -->
                            <li class="gsc-hidden-on-dark">
                                <a class="inline-block py-4" href="#0" onclick="setDarkMode(true);return false;">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="currentColor" class="inline-block w-6 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M21.752 15.002A9.718 9.718 0 0118 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 003 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 009.002-5.998z" />
                                    </svg>
                                </a>
                            </li>
                            <!--// light mode -->
                            <!-- dark mode -->
                            <li class="gsc-hidden-on-light">
                                <a class="inline-block py-4" href="#0" onclick="setDarkMode(false);return false;">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="currentColor" class="inline-block w-6 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M12 3v2.25m6.364.386l-1.591 1.591M21 12h-2.25m-.386 6.364l-1.591-1.591M12 18.75V21m-4.773-4.227l-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z" />
                                    </svg>
                                </a>
                            </li>
                            <!--// dark mode -->
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div id="gsi-body" class="w-full">
        <div class="gsc-container">
            {% block main %}
            <p>main</p>
            {% endblock %}
        </div>
    </div>

    <div id="gsi-offcanvas" onclick="hideOffcanvas()" class="hidden gsc-backdrop">
        <div id="gsi-offcanvas-popup" onclick="event.stopPropagation()" class="gsc-popup gsc-offcanvas-popup">
            <div id="gsi-offcanvas-index"></div>
        </div>
    </div>

    <div id="gsi-search" onclick="hideSearch()" class="hidden gsc-backdrop z-30 fixed top-0 left-0 right-0 bottom-0">
        <div class="gsc-container">
            <div onclick="event.stopPropagation()"
                class="gsc-popup border shadow rounded-md w-[90%] min-h-[90%] mt-[5%] mx-auto">
                <div class="p-4 sm:p-6 md:p-8 border-b border-slate-200 dark:border-slate-700">
                    <input type="text"
                        class="block w-full border-0 bg-transparent text-gray-800 placeholder:text-gray-400 rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:text-sm sm:leading-6"
                        placeholder="Type keywords to search...">
                </div>
                <div id="gsi-search-results" class="p-4 sm:p-6 md:p-8">
                    <div class="gsc-search-result">
                        <h3>Hello, this is a world wide web</h3>
                        <p>ok, block w-full border-0 bg-transparent text-gray-800 placeholder:text-gray-400... haha</p>
                    </div>
                    <div class="gsc-search-result">
                        <h3>Hello, this is a world wide web</h3>
                        <p>ok, block w-full border-0 bg-transparent text-gray-800 placeholder:text-gray-400... haha</p>
                    </div>
                    <div class="gsc-search-result">
                        <h3>Hello, this is a world wide web</h3>
                        <p>ok, block w-full border-0 bg-transparent text-gray-800 placeholder:text-gray-400... haha</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>