<!-- comment -->
{% if site.comment and site.comment.disqus and site.comment.disqus.name %}
<hr class="gsc-border mt-4">
<div class="mb-4"></div>
<div id="disqus_thread"></div>
<script>
    var disqus_config = function () {
        this.page.url = location.href;
        this.page.identifier = location.pathname;
    };
    (function () { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://{{ site.comment.disqus.name }}.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
{% endif %}
<!--// comment -->