<!-- custom header -->

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{ site.description }}">
<meta name="keywords" content="{{ site.keywords }}">
<link rel="icon" type="image/x-icon" href="/static/favicon.ico">

<script>
    // global status:
    window.gs_status = {
    };
</script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/highlight.js@11.9.0/styles/default.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css">
<style>
    @font-face {
        font-family: "JetBrainsMono";
        src: url("/static/JetBrainsMono-Regular.woff2");
    }
</style>

{% if production %}
<link rel="stylesheet" href="/static/custom-tailwind.css">
{% else %}
<!-- for development only -->
<script src="https://cdn.tailwindcss.com/3.3.5?plugins=forms,typography,aspect-ratio"></script>
<script>
    tailwind.config = {
        darkMode: 'class'
    }
</script>
<style type="text/tailwindcss">
    {% include "custom-tailwind.txt" %}
</style>
<!--// development only -->
{% endif %}

<script>
    function isDarkMode() {
        let colorScheme = localStorage.getItem('color-scheme');
        if (colorScheme !== null) {
            return colorScheme === 'dark';
        }
        // detect system dark mode:
        return window.matchMedia !== undefined && window.matchMedia('(prefers-color-scheme: dark)').matches;
    }

    function setDarkMode(isDark) {
        console.log(`set color scheme: ${isDark ? 'dark' : 'light'}`);
        localStorage.setItem('color-scheme', isDark ? 'dark' : 'light');
        if (isDark) {
            document.documentElement.classList.add('dark');
            document.documentElement.classList.remove('light');
        } else {
            document.documentElement.classList.add('light');
            document.documentElement.classList.remove('dark');
        }
    }

    (function () {
        setDarkMode(isDarkMode());
    })();

    function showSearch() {
        document.getElementById('gsi-search').classList.remove('hidden');
    }

    function hideSearch() {
        document.getElementById('gsi-search').classList.add('hidden');
    }

    function showOffcanvas() {
        document.getElementById('gsi-offcanvas').classList.remove('hidden');
        let indexDom = document.getElementById('gsi-index');
        document.getElementById('gsi-offcanvas-index').prepend(indexDom);
        window.gs_status.show_offcanvas = true;
        const popup = document.getElementById('gsi-offcanvas-popup');
        if (popup.animate) {
            popup.animate([{ left: "0px" }], 200).onfinish = () => popup.classList.add('gsc-offcanvas-popup-show');
        } else {
            // animation not supported:
            popup.classList.add('gsc-offcanvas-popup-show');
        }
    }

    function hideOffcanvas() {
        document.getElementById('gsi-offcanvas').classList.add('hidden');
        document.getElementById('gsi-offcanvas-popup').classList.remove('gsc-offcanvas-popup-show');
        let indexDom = document.getElementById('gsi-index');
        document.getElementById('gsi-sidebar').prepend(indexDom);
        window.gs_status.show_offcanvas = false;
    }
</script>
<!--// custom header -->