<!-- custom css -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/highlight.js@11.9.0/styles/default.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css">
<style>
    @font-face {
        font-family: "JetBrainsMono";
        src: url("/static/JetBrainsMono-Regular.woff2");
    }
</style>

{% if production %}
<link rel="stylesheet" href="/static/custom-tailwind.css">
{% else %}
<!-- for development only -->
<script src="https://cdn.tailwindcss.com/3.3.5?plugins=forms,typography,aspect-ratio"></script>
<script>
    tailwind.config = {
        darkMode: 'class'
    }
</script>
<style type="text/tailwindcss">
    {% include "custom-tailwind.txt" %}
</style>
<!--// development only -->
{% endif %}

<!--// custom css -->