/* custom css */

#gsi-content div.question button.question:before {
    content: '提交';
}

#gsi-content div.question button.question>span {
    display: none;
}

#gsi-content div.question span.question.correct:before {
    content: '正确!';
}

#gsi-content div.question span.question.correct>span {
    display: none;
}

#gsi-content div.question span.question.wrong:before {
    content: '错误!';
}

#gsi-content div.question span.question.wrong>span {
    display: none;
}