{% extends "__base__.html" %}

{% block title %}
{{ blog.title }} - {{ site.blogs.title }} - {{ site.title }}
{% endblock %}

{% block script %}
<script>
    window.gs_status.title_suffix = {{ site.blogs.title | dump | safe }} + " - " + {{ site.title | dump | safe }};
</script>
{% endblock %}

{% block main %}
<div id="gsi-sidebar">
    {% include "__blog_index__.html" %}
</div>
<div id="gsi-content" class="md:ml-[var(--side-bar-width)]">
    {% include "blog_content.html" %}
</div>
<div id="gsi-footer" class="md:ml-[var(--side-bar-width)]">
    {% include "__footer__.html" %}
</div>
{% endblock %}