<!-- book content -->
<div id="gsi-chapter">
    <div id="gsi-chapter-title">
        <h1>{{ chapter.title }}</h1>
    </div>
    <div id="gsi-chapter-content">
        {{ chapter.htmlContent | safe }}
    </div>

    {% set gitPath = chapter.git %}
    {% include "__git__.html" %}

    <hr class="gsc-border">
    <div id="gsi-chapter-prev-next" class="flex flex-row mt-4">
        <div id="gsi-chapter-prev" class="basis-1/2 mr-2 text-left">
            {% if chapter.prev %}
            <a href="/books/{{ chapter.prev.uri }}/index.html"
                onclick="gs_load_chapter('/books/{{ chapter.prev.uri }}/index.html',true);return false;"
                class="inline-block my-2">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M18.75 19.5l-7.5-7.5 7.5-7.5m-6 15L5.25 12l7.5-7.5" />
                </svg>
                {{ chapter.prev.title }}
            </a>
            {% endif %}
        </div>
        <div id="gsi-chapter-next" class="basis-1/2 ml-2 text-right">
            {% if chapter.next %}
            <a href="/books/{{ chapter.next.uri }}/index.html"
                onclick="gs_load_chapter('/books/{{ chapter.next.uri }}/index.html',true);return false;"
                class="inline-block my-2">
                {{ chapter.next.title }}
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M11.25 4.5l7.5 7.5-7.5 7.5m-6-15l7.5 7.5-7.5 7.5" />
                </svg>
            </a>
            {% endif %}
        </div>
    </div>
</div>

{% include "__comment__.html" %}
<!--// book content -->