@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --header-bar-height: 59px;
    --footer-bar-height: 59px;
    --side-bar-width: 317px;
    --blog-info-width: 260px;
}

html {
    scroll-padding-top: var(--header-bar-height);
}

/* light/dark mode */

.light .gsc-hidden-on-light {
    @apply hidden;
}

.dark .gsc-hidden-on-dark {
    @apply hidden;
}

/* global text, bg, link, etc. */

.gsc-text {
    @apply text-gray-800 dark:text-gray-300;
}

.gsc-bg {
    @apply bg-gray-50 dark:bg-gray-900;
}

.gsc-fill {
    @apply fill-gray-50 dark:fill-gray-900;
}

.gsc-border {
    @apply border-gray-300 dark:border-gray-600;
}

.gsc-container {
    @apply max-w-screen-2xl mx-auto px-4;
}

.gsc-backdrop {
    @apply bg-gray-400/50 dark:bg-gray-900/50 backdrop-blur-sm;
}

.gsc-popup-container {
    @apply bg-gray-50 dark:bg-gray-800 border-gray-200 dark:border-gray-700;
}

.gsc-popup-menu-container {
    @apply absolute translate-y-[calc(var(--header-bar-height)-12px)] z-20 top-0 py-2 rounded shadow-md bg-gray-50 dark:bg-gray-700 border border-gray-300 dark:border-gray-600;
}

.gsc-popup-menu-container > ul > li > a {
    @apply block whitespace-nowrap px-4 py-2 w-full hover:bg-sky-100 dark:hover:bg-sky-800;
}

/* id element */

#gsi-header {
    @apply sticky z-10 h-[var(--header-bar-height)] top-0 left-0 right-0 w-full drop-shadow-[0_4px_4px_rgba(0,0,0,0.1)];
}

#gsi-sidebar {
    @apply max-md:hidden md:w-[var(--side-bar-width)] fixed gsc-bg gsc-border py-4 pl-4 h-[calc(100vh-var(--header-bar-height))] top-[var(--header-bar-height)] left-[max(0rem,calc(50%-768px))] overflow-y-scroll border-r;
}

#gsi-content {
    @apply min-h-[calc(100vh-var(--header-bar-height)-var(--footer-bar-height))] py-4;
}

#gsi-footer {
    @apply h-[var(--footer-bar-height)] border-t gsc-border overflow-hidden;
}

a {
    @apply text-sky-600 hover:text-sky-500 dark:text-sky-400 hover:dark:text-sky-300;
}

.gsc-link-border {
    @apply border-sky-600 hover:border-sky-500 dark:border-sky-400 hover:dark:border-sky-300;
}

a > svg {
    @apply inline-block w-5 h-5 mt-[-3px];
}

svg.gsc-icon {
    @apply inline-block w-5 h-5 mt-[-3px];
}

nav.gsc-nav > ul > li {
    @apply h-[calc(var(--header-bar-height)-1px)];
}

nav.gsc-nav-main > ul > li > a {
    @apply block py-4 border-b-2 border-transparent whitespace-nowrap;
}

nav.gsc-nav-main > ul > li > a.gsc-active {
    @apply border-sky-600 hover:border-sky-500;
}

#gsi-index > h3 {
    @apply pl-1 pt-1 pb-1 text-sm font-semibold uppercase;
}

#gsi-index div.gsc-index-item {
    @apply relative;
}

#gsi-index div.gsc-index-item > div.gsc-index-item-children {
    @apply relative ml-2 pl-2 border-l gsc-border;
}

#gsi-index div.gsc-index-item > a > span.gsc-index-item-action {
    @apply cursor-pointer w-3 h-3 block absolute right-1 mx-1 top-1/2;
    transform: translateY(-50%);
}

#gsi-index div.gsc-index-item > a {
    @apply block relative my-1 pl-1 pr-5 py-1 hover:bg-gray-200 dark:hover:bg-gray-700;
}

#gsi-index div.gsc-index-item > a > span.gsc-index-item-marker {
    @apply tabular-nums;
}

#gsi-index div.gsc-index-item > a:not(:has(span.gsc-index-item-action)) {
    @apply pr-1;
}

#gsi-index div.gsc-index-item > a.gsc-active {
    @apply bg-gray-200 dark:bg-gray-700;
}

#gsi-index div.gsc-index-item > a.gsc-active > span.gsc-index-item-title {
    @apply font-semibold;
}

#gsi-index div.gsc-index-item-closed > div.gsc-index-item-children {
    @apply hidden;
}

#gsi-index div.gsc-index-item-open > div.gsc-index-item-children {
    @apply block;
}

#gsi-index div.gsc-index-item-closed > a > span.gsc-index-item-open {
    @apply hidden;
}

#gsi-index div.gsc-index-item-open > a > span.gsc-index-item-closed {
    @apply hidden;
}

/********** form **********/

input[type="text"],input[type="password"],input[type="number"],select {
    @apply gsc-text outline-none bg-gray-100 dark:bg-gray-800 rounded-md border-0 my-2 px-2 py-1.5 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 dark:placeholder:text-gray-500 focus:ring-2 focus:ring-inset focus:ring-sky-600 dark:focus:ring-sky-400;
}

input[type="checkbox"],input[type="radio"] {
    @apply border border-sky-600 dark:border-sky-400 my-2 py-1.5 shadow-sm;
}

button[type=submit],
button[type=reset],
button[type=button] {
    @apply rounded-md px-3 py-1.5 font-semibold text-gray-700 dark:text-gray-100 bg-gray-200 dark:bg-gray-600 hover:bg-gray-300 dark:hover:bg-gray-500 focus-visible:outline-gray-300 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2;
}

button[type=submit] {
    @apply text-gray-100 bg-sky-600 dark:bg-sky-700 hover:bg-sky-500 dark:hover:bg-sky-600 focus-visible:outline-sky-500 dark:focus-visible:outline-sky-600;
}

/********** search **********/

#gsi-search-results > div {
    @apply my-4 sm:my-6 md:my-8;
}

#gsi-search-results > div > a {
    @apply font-semibold text-lg;
}

/********** markdown content style **********/

#gsi-content h1 {
    @apply my-4 font-semibold text-4xl;
}

#gsi-content h2 {
    @apply my-4 font-semibold text-3xl;
}

#gsi-content h3 {
    @apply my-4 font-semibold text-2xl;
}

#gsi-content h4 {
    @apply my-4 font-semibold text-xl;
}

#gsi-content h5 {
    @apply my-4 font-semibold text-lg;
}

#gsi-content h6 {
    @apply my-4 font-semibold text-base;
}

#gsi-content p {
    @apply my-4 leading-7
}

#gsi-content a[target="_blank"]:after {
    @apply ml-[2px] w-4 h-4 inline-block content-[''];

    /* change a.text-color-xxx to bg-color-xxx */
    @apply bg-sky-600 hover:bg-sky-500 dark:bg-sky-400 hover:dark:bg-sky-300;

    /* svg color won't work as content, so use mask + bg color instead */

    mask-size: contain;
    mask-position: bottom;
    mask-repeat: no-repeat;
    mask-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9Im5vbmUiIHZpZXdCb3g9IjAgMCAyNCAyNCIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZT0iIzAwMDAwMCI+PHBhdGggc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBkPSJNMTMuNSA2SDUuMjVBMi4yNSAyLjI1IDAgMDAzIDguMjV2MTAuNUEyLjI1IDIuMjUgMCAwMDUuMjUgMjFoMTAuNUEyLjI1IDIuMjUgMCAwMDE4IDE4Ljc1VjEwLjVtLTEwLjUgNkwyMSAzbTAgMGgtNS4yNU0yMSAzdjUuMjUiIC8+PC9zdmc+);
}

#gsi-content :not(pre)>code {
    @apply rounded text-sm text-gray-600 dark:text-gray-100 bg-gray-200 dark:bg-gray-700 py-1 px-2 mx-1;
}

#gsi-content em {
    @apply font-semibold italic px-[2px];
}

#gsi-content ul {
    @apply text-base list-disc list-inside;
}

#gsi-content ol {
    @apply text-base list-decimal list-inside;
}

#gsi-content li {
    @apply leading-6 my-2;
}

#gsi-content li ul,
#gsi-content li ol {
    @apply text-base ml-6;
}

#gsi-content table {
    @apply w-full text-left my-4 border-collapse;
}

#gsi-content table tr {
    @apply border-t border-b gsc-border;
}

#gsi-content table tbody tr {
    @apply hover:bg-gray-100 dark:hover:bg-gray-800;
}

#gsi-content table th,
#gsi-content table td {
    @apply p-2 border-l last:border-r gsc-border;
}

#gsi-content hr {
    @apply border-gray-300 dark:border-gray-500;
}

#gsi-content blockquote {
    @apply border-l-4 border-gray-300 dark:border-gray-500 italic my-4 px-2;
}

#gsi-content hr.footnotes-sep {
    @apply my-4 gsc-border border-dashed;
}

#gsi-content section.footnotes {
    @apply my-4;
}

#gsi-content li.footnote-item {
    @apply my-2;
}

#gsi-content li.footnote-item p {
    @apply inline;
}

#gsi-content a.footnote-backref {
    font-family: Arial, Helvetica, sans-serif;
}

#gsi-content pre {
    @apply whitespace-pre overflow-x-auto my-4 p-2 rounded border border-gray-300 dark:border-gray-600 bg-gray-100 dark:bg-gray-800;
}

/********** blogs **********/

#gsi-blog-title {
    @apply mb-8;
}

#gsi-blog-content > h1 {
    @apply first:hidden;
}

/********** offcanvas **********/

#gsi-offcanvas {
    @apply z-30 fixed top-0 left-0 right-0 bottom-0;
}

.gsc-offcanvas-popup {
    @apply overflow-y-auto border-r fixed top-0 left-[calc(0px-var(--side-bar-width))] bottom-0 w-[var(--side-bar-width)] p-4;
}

.gsc-offcanvas-popup-show {
    left: 0 !important;
}

/********** footer **********/

/********** ascii **********/

#gsi-content pre.ascii {
    @apply p-0 border-0 bg-transparent;
    font-family: JetBrainsMono;
    font-size: 14px;
    line-height: 18px;
}

#gsi-content pre.ascii>code {
    font-family: JetBrainsMono;
}

/* end ascii */

#gsi-content img.gsc-avatar {
    @apply inline-block w-8 h-8 rounded-full gsc-border border;
}

/********** alert **********/

#gsi-content div.alert {
    @apply border-l-4 border-t border-r border-b rounded px-4 py-2 my-4;
    @apply bg-gray-100 dark:bg-gray-800;
}

#gsi-content div.alert > p {
    @apply my-2;
}

#gsi-content div.alert > p:first-child > svg {
    @apply inline-block w-5 h-5 mt-[-3px];
}

#gsi-content div.alert-note {
    @apply border-blue-700 dark:border-blue-500;
}

#gsi-content div.alert-note > p:first-child {
    @apply text-blue-700 dark:text-blue-500;
}

#gsi-content div.alert-tip {
    @apply border-green-700 dark:border-green-500;
}

#gsi-content div.alert-tip > p:first-child {
    @apply text-green-700 dark:text-green-500;
}

#gsi-content div.alert-important {
    @apply border-purple-700 dark:border-purple-500;
}

#gsi-content div.alert-important > p:first-child {
    @apply text-purple-700 dark:text-purple-500;
}

#gsi-content div.alert-warning {
    @apply border-yellow-700 dark:border-yellow-500;
}

#gsi-content div.alert-warning > p:first-child {
    @apply text-yellow-700 dark:text-yellow-500;
}

#gsi-content div.alert-caution {
    @apply border-red-700 dark:border-red-500;
}

#gsi-content div.alert-caution > p:first-child {
    @apply text-red-700 dark:text-red-500;
}

/********** video **********/

#gsi-content div.gsc-video-container {
    @apply relative w-full my-4;
}

#gsi-content div.gsc-video-container iframe.gsc-video {
    @apply absolute top-0 left-0 w-full h-full border-0;
}

/********** math **********/

#gsi-content div.math-wrapper-left span.katex-html {
    @apply text-left;
}

#gsi-content div.math-wrapper-center span.katex-html {
    @apply text-center;
}

#gsi-content div.math-wrapper-right span.katex-html {
    @apply text-right;
}

/********** question **********/

#gsi-content div.question {
    @apply my-4;
}

#gsi-content div.question input {
    @apply focus:shadow-transparent;
}

#gsi-content div.question > p {
    @apply mt-4 mb-1;
}

#gsi-content div.question button.question {
    @apply px-2 py-1 mr-2 text-sm rounded border border-sky-600 text-sky-500;
}

#gsi-content div.question span.question.correct {
    @apply text-green-800 dark:text-green-500;
}

#gsi-content div.question span.question.wrong {
    @apply text-red-800 dark:text-red-500;
}

/********** begin qrcode **********/

#gsi-content div.qrcode-wrapper svg {
    display: inline-block;
}

/********** end qrcode **********/

/********** abcjs **********/

#gsi-content div.abcjs-wrapper {
    @apply my-4;
}

.abcjs-container svg .abcjs-cursor {
    stroke: transparent;
}

.abcjs-container svg .highlight {
    @apply fill-red-600 dark:fill-red-400;
}

.audio-error {
    color: red;
    border: 2px solid red;
    padding: 10px;
}

.abcjs-inline-audio {
    height: 26px;
    padding: 0 5px;
    border-radius: 3px;
    background-color: #424242;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.abcjs-inline-audio.abcjs-disabled {
    opacity: 0.5;
}

.abcjs-inline-audio .abcjs-btn {
    display: block;
    width: 28px;
    height: 34px;
    margin-right: 2px;
    padding: 7px 4px;

    background: none !important;
    border: 1px solid transparent;
    box-sizing: border-box;
    line-height: 1;
}

.abcjs-btn g {
    fill: #f4f4f4;
    stroke: #f4f4f4;
}

.abcjs-inline-audio .abcjs-btn:hover g {
    fill: #cccccc;
    stroke: #cccccc;
}

.abcjs-inline-audio .abcjs-midi-selection.abcjs-pushed {
    border: 1px solid #cccccc;
    background-color: #666666;
    box-sizing: border-box;
}

.abcjs-inline-audio .abcjs-midi-loop.abcjs-pushed {
    border: 1px solid #cccccc;
    background-color: #666666;
    box-sizing: border-box;
}

.abcjs-inline-audio .abcjs-midi-reset.abcjs-pushed {
    border: 1px solid #cccccc;
    background-color: #666666;
    box-sizing: border-box;
}

.abcjs-inline-audio .abcjs-midi-start .abcjs-pause-svg {
    display: none;
}

.abcjs-inline-audio .abcjs-midi-start .abcjs-loading-svg {
    display: none;
}

.abcjs-inline-audio .abcjs-midi-start.abcjs-pushed .abcjs-play-svg {
    display: none;
}

.abcjs-inline-audio .abcjs-midi-start.abcjs-loading .abcjs-play-svg {
    display: none;
}

.abcjs-inline-audio .abcjs-midi-start.abcjs-pushed .abcjs-pause-svg {
    display: block;
}

.abcjs-inline-audio .abcjs-midi-progress-background {
    background-color: #424242;
    height: 10px;
    border-radius: 5px;
    border: 2px solid #cccccc;
    margin: 0 8px 0 15px;
    position: relative;
    flex: 1;
    padding: 0;
    box-sizing: border-box;
}

.abcjs-inline-audio .abcjs-midi-progress-indicator {
    width: 20px;
    margin-left: -10px;
    /* half of the width */
    height: 14px;
    background-color: #f4f4f4;
    position: absolute;
    display: inline-block;
    border-radius: 6px;
    top: -4px;
    left: 0;
    box-sizing: border-box;
}

.abcjs-inline-audio .abcjs-midi-clock {
    margin-left: 4px;
    margin-top: 1px;
    margin-right: 2px;
    display: inline-block;
    font-family: sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    color: #f4f4f4;
}

.abcjs-inline-audio .abcjs-tempo-wrapper {
    font-size: 10px;
    color: #f4f4f4;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.abcjs-inline-audio .abcjs-midi-tempo {
    border-radius: 2px;
    border: none;
    margin: 0 2px 0 4px;
    width: 42px;
    padding-left: 2px;
    box-sizing: border-box;
}

.abcjs-inline-audio .abcjs-loading .abcjs-loading-svg {
    display: inherit;
}

.abcjs-inline-audio .abcjs-loading {
    outline: none;
    animation-name: abcjs-spin;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.abcjs-inline-audio .abcjs-loading-svg circle {
    stroke: #f4f4f4;
}

@keyframes abcjs-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* Adding the class "abcjs-large" will make the control easier on a touch device. */
.abcjs-large .abcjs-inline-audio {
    height: 52px;
}

.abcjs-large .abcjs-btn {
    width: 56px;
    height: 52px;
    font-size: 28px;
    padding: 6px 8px;
}

.abcjs-large .abcjs-midi-progress-background {
    height: 20px;
    border: 4px solid #cccccc;
}

.abcjs-large .abcjs-midi-progress-indicator {
    height: 28px;
    top: -8px;
    width: 40px;
}

.abcjs-large .abcjs-midi-clock {
    font-size: 32px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: -1px;
}

.abcjs-large .abcjs-midi-tempo {
    font-size: 20px;
    width: 50px;
}

.abcjs-large .abcjs-tempo-wrapper {
    font-size: 20px;
}

.abcjs-css-warning {
    display: none;
}

/********** mermaid svg **********/

/* begin for apply */

.svg-mermaid-fill-yellow {
    @apply fill-yellow-100 dark:fill-yellow-800;
}
.svg-mermaid-stroke-yellow {
    @apply stroke-yellow-400 dark:stroke-yellow-600;
}

.svg-mermaid-fill-red {
    @apply fill-red-800 dark:fill-red-400;
}
.svg-mermaid-stroke-red {
    @apply stroke-red-800 dark:stroke-red-400;
}

.svg-mermaid-stroke-dark {
    @apply stroke-gray-500 dark:stroke-gray-200;
}
.svg-mermaid-fill-dark {
    @apply fill-gray-800 dark:fill-gray-200;
}

.svg-mermaid-fill-light {
    @apply fill-gray-200 dark:fill-gray-800;
}
.svg-mermaid-stroke-light {
    @apply stroke-gray-200 dark:stroke-gray-500;
}

.svg-mermaid-text-dark {
    @apply text-gray-800 dark:text-gray-300;
}
.svg-mermaid-text-light {
    @apply text-gray-300 dark:text-gray-800;
}

.svg-mermaid-bg {
    @apply bg-gray-300 dark:bg-gray-700;
}

/* colors */

.svg-mermaid-fill-color-0 {
    @apply fill-green-300 dark:fill-green-800;
}
.svg-mermaid-fill-color-1 {
    @apply fill-yellow-300 dark:fill-yellow-800;
}
.svg-mermaid-fill-color-2 {
    @apply fill-sky-300 dark:fill-sky-800;
}
.svg-mermaid-fill-color-3 {
    @apply fill-red-300 dark:fill-red-800;
}
.svg-mermaid-fill-color-4 {
    @apply fill-teal-300 dark:fill-teal-800;
}
.svg-mermaid-fill-color-5 {
    @apply fill-amber-300 dark:fill-amber-800;
}
.svg-mermaid-fill-color-6 {
    @apply fill-blue-300 dark:fill-blue-800;
}
.svg-mermaid-fill-color-7 {
    @apply fill-pink-300 dark:fill-pink-800;
}

.svg-mermaid-stroke-color-0 {
    @apply stroke-green-300 dark:stroke-green-800;
}
.svg-mermaid-stroke-color-1 {
    @apply stroke-yellow-300 dark:stroke-yellow-800;
}
.svg-mermaid-stroke-color-2 {
    @apply stroke-sky-300 dark:stroke-sky-800;
}
.svg-mermaid-stroke-color-3 {
    @apply stroke-red-300 dark:stroke-red-800;
}
.svg-mermaid-stroke-color-4 {
    @apply stroke-teal-300 dark:stroke-teal-800;
}
.svg-mermaid-stroke-color-5 {
    @apply stroke-amber-300 dark:stroke-amber-800;
}
.svg-mermaid-stroke-color-6 {
    @apply stroke-blue-300 dark:stroke-blue-800;
}
.svg-mermaid-stroke-color-7 {
    @apply stroke-pink-300 dark:stroke-pink-800;
}

/* end colors */

/* end for apply */

/* mermaid global */

svg.mermaid {
    font-family: "trebuchet ms", verdana, arial, sans-serif;
    font-size: 16px;
    display: inline-block;
    max-width: 100%;
    @apply svg-mermaid-fill-light leading-none;
}

svg.mermaid .error-icon {
    @apply svg-mermaid-fill-red;
}

svg.mermaid .error-text {
    @apply svg-mermaid-fill-red svg-mermaid-stroke-red;
}

/* end mermaid global */

/* mermaid flowchart */

svg.mermaid-flowchart .edge-thickness-normal {
    stroke-width: 2px;
}

svg.mermaid-flowchart .edge-thickness-thick {
    stroke-width: 3.5px;
}

svg.mermaid-flowchart .edge-pattern-solid {
    stroke-dasharray: 0;
}

svg.mermaid-flowchart .edge-pattern-dashed {
    stroke-dasharray: 3;
}

svg.mermaid-flowchart .edge-pattern-dotted {
    stroke-dasharray: 2;
}

svg.mermaid-flowchart .marker {
    @apply svg-mermaid-stroke-dark svg-mermaid-fill-light;
}

svg.mermaid-flowchart .marker.cross {
    @apply svg-mermaid-stroke-dark;
}

svg.mermaid-flowchart .label {
    @apply svg-mermaid-text-dark;
}

svg.mermaid-flowchart .cluster-label text {
    @apply svg-mermaid-fill-light;
}

svg.mermaid-flowchart .cluster-label span,
svg.mermaid-flowchart p {
    @apply svg-mermaid-text-dark;
}

svg.mermaid-flowchart .label text,
svg.mermaid-flowchart span,
svg.mermaid-flowchart p {
    @apply svg-mermaid-fill-light svg-mermaid-text-dark;
}

svg.mermaid-flowchart .node rect,
svg.mermaid-flowchart .node circle,
svg.mermaid-flowchart .node ellipse,
svg.mermaid-flowchart .node polygon,
svg.mermaid-flowchart .node path {
    @apply svg-mermaid-fill-light svg-mermaid-stroke-dark;
    stroke-width: 1px;
}

svg.mermaid-flowchart .flowchart-label text {
    text-anchor: middle;
}

svg.mermaid-flowchart .node .label {
    text-align: center;
}

svg.mermaid-flowchart .node.clickable {
    cursor: pointer;
}

svg.mermaid-flowchart .arrowheadPath {
    @apply svg-mermaid-fill-light;
}

svg.mermaid-flowchart .edgePath .path {
    @apply svg-mermaid-stroke-dark;
    stroke-width: 2.0px;
}

svg.mermaid-flowchart .flowchart-link {
    @apply svg-mermaid-stroke-dark;
    fill: none;
}

svg.mermaid-flowchart .edgeLabel {
    @apply svg-mermaid-bg svg-mermaid-text-dark;
    text-align: center;
}

svg.mermaid-flowchart .edgeLabel rect {
    @apply svg-mermaid-bg svg-mermaid-fill-light;
    opacity: 0.5;
}

svg.mermaid-flowchart .labelBkg {
    @apply svg-mermaid-bg; 
}

svg.mermaid-flowchart .cluster rect {
    @apply svg-mermaid-fill-light svg-mermaid-stroke-dark;
    stroke-width: 1px;
}

svg.mermaid-flowchart .cluster text {
    @apply svg-mermaid-fill-light;
}

svg.mermaid-flowchart .cluster span,
svg.mermaid-flowchart p {
    @apply svg-mermaid-text-dark;
}

svg.mermaid-flowchart div.mermaidTooltip {
    @apply svg-mermaid-bg;
    position: absolute;
    text-align: center;
    max-width: 200px;
    padding: 2px;
    font-size: 12px;
    border: 1px solid #aaaa33;
    border-radius: 2px;
    pointer-events: none;
    z-index: 100;
}

svg.mermaid-flowchart .flowchartTitleText {
    @apply svg-mermaid-fill-dark;
    text-anchor: middle;
    font-size: 18px;
}

/* end mermaid flowchart */

/* mermaid sequence diagram */

svg.mermaid-sequence {
    @apply svg-mermaid-fill-dark;
}

svg.mermaid-sequence .edge-thickness-normal {
    stroke-width: 2px;
}

svg.mermaid-sequence .edge-thickness-thick {
    stroke-width: 3.5px;
}

svg.mermaid-sequence .edge-pattern-solid {
    stroke-dasharray: 0;
}

svg.mermaid-sequence .edge-pattern-dashed {
    stroke-dasharray: 3;
}

svg.mermaid-sequence .edge-pattern-dotted {
    stroke-dasharray: 2;
}

svg.mermaid-sequence .marker {
    @apply svg-mermaid-stroke-dark svg-mermaid-fill-dark;
}

svg.mermaid-sequence .marker.cross {
    @apply svg-mermaid-stroke-dark;
}

svg.mermaid-sequence .actor {
    @apply svg-mermaid-stroke-dark svg-mermaid-fill-light;
}

svg.mermaid-sequence text.actor>tspan {
    @apply svg-mermaid-fill-dark;
    stroke: none;
}

svg.mermaid-sequence .actor-line {
    @apply svg-mermaid-stroke-dark;
}

svg.mermaid-sequence .messageLine0 {
    stroke-width: 1.5;
    stroke-dasharray: none;
    @apply svg-mermaid-stroke-dark;
}

svg.mermaid-sequence .messageLine1 {
    stroke-width: 1.5;
    stroke-dasharray: 2, 2;
    @apply svg-mermaid-stroke-dark;
}

svg.mermaid-sequence #arrowhead path {
    @apply svg-mermaid-stroke-dark svg-mermaid-fill-dark;
}

svg.mermaid-sequence .sequenceNumber {
    @apply svg-mermaid-fill-light;
}

svg.mermaid-sequence #sequencenumber {
    @apply svg-mermaid-fill-dark;
}

svg.mermaid-sequence #crosshead path {
    @apply svg-mermaid-stroke-dark svg-mermaid-fill-dark;
}

svg.mermaid-sequence .messageText {
    @apply svg-mermaid-fill-dark;
    stroke: none;
}

svg.mermaid-sequence .labelBox {
    @apply svg-mermaid-stroke-light svg-mermaid-fill-light;
}

svg.mermaid-sequence .labelText,
svg.mermaid-sequence .labelText>tspan {
    @apply svg-mermaid-fill-dark;
    stroke: none;
}

svg.mermaid-sequence .loopText,
svg.mermaid-sequence .loopText>tspan {
    @apply svg-mermaid-fill-dark;
    stroke: none;
}

svg.mermaid-sequence .loopLine {
    @apply svg-mermaid-stroke-light svg-mermaid-fill-dark;
    stroke-width: 2px;
    stroke-dasharray: 4, 2;
}

svg.mermaid-sequence .note {
    @apply svg-mermaid-stroke-yellow svg-mermaid-fill-yellow;
}

svg.mermaid-sequence .noteText,
svg.mermaid-sequence .noteText>tspan {
    @apply svg-mermaid-fill-dark;
    stroke: none;
}

svg.mermaid-sequence .activation0,
svg.mermaid-sequence .activation1,
svg.mermaid-sequence .activation2 {
    @apply svg-mermaid-fill-light svg-mermaid-stroke-dark;
}

svg.mermaid-sequence .actorPopupMenu {
    position: absolute;
}

svg.mermaid-sequence .actorPopupMenuPanel {
    @apply svg-mermaid-fill-light;
    position: absolute;
}

svg.mermaid-sequence .actor-man line {
    @apply svg-mermaid-fill-light svg-mermaid-stroke-dark;
}

svg.mermaid-sequence .actor-man circle {
    @apply svg-mermaid-fill-light svg-mermaid-stroke-dark;
}

svg.mermaid-sequence line {
    @apply svg-mermaid-fill-light svg-mermaid-stroke-dark;
    stroke-width: 2px;
}

/* end sequence */

/* begin class diagram */

svg.mermaid-classdiagram {
    fill: currentColor;
}

svg.mermaid-classdiagram .edge-thickness-normal {
    stroke-width: 2px;
}

svg.mermaid-classdiagram .edge-thickness-thick {
    stroke-width: 3.5px;
}

svg.mermaid-classdiagram .edge-pattern-solid {
    stroke-dasharray: 0;
}

svg.mermaid-classdiagram .edge-pattern-dashed {
    stroke-dasharray: 3;
}

svg.mermaid-classdiagram .edge-pattern-dotted {
    stroke-dasharray: 2;
}

svg.mermaid-classdiagram .marker {
    @apply svg-mermaid-fill-dark svg-mermaid-stroke-dark;
}

svg.mermaid-classdiagram .marker.cross {
    @apply svg-mermaid-stroke-dark;
}

svg.mermaid-classdiagram svg {
    font-size: 16px;
}

svg.mermaid-classdiagram g.classGroup text {
    @apply svg-mermaid-text-dark;
    stroke: none;
    font-size: 10px;
}

svg.mermaid-classdiagram g.classGroup text .title {
    font-weight: bolder;
}

svg.mermaid-classdiagram .nodeLabel,
svg.mermaid-classdiagram .edgeLabel {
    @apply svg-mermaid-text-dark;
}

svg.mermaid-classdiagram .edgeLabel .label rect {
    @apply svg-mermaid-fill-light;
    /* @apply fill-purple-100 dark:fill-purple-900; */
}

svg.mermaid-classdiagram .label text {
    @apply svg-mermaid-fill-dark;
}

svg.mermaid-classdiagram .edgeLabel .label span {
    @apply gsc-bg;
    /* @apply bg-purple-100 dark:bg-purple-900; */
}

svg.mermaid-classdiagram .classTitle {
    font-weight: bolder;
}

svg.mermaid-classdiagram .node rect,
svg.mermaid-classdiagram .node circle,
svg.mermaid-classdiagram .node ellipse,
svg.mermaid-classdiagram .node polygon,
svg.mermaid-classdiagram .node path {
    @apply svg-mermaid-fill-light svg-mermaid-stroke-dark;
    stroke-width: 1px;
}

svg.mermaid-classdiagram .divider {
    @apply svg-mermaid-stroke-dark;
    stroke-width: 1;
}

svg.mermaid-classdiagram g.clickable {
    cursor: pointer;
}

svg.mermaid-classdiagram g.classGroup rect {
    @apply svg-mermaid-fill-light stroke-gray-500;
    /* stroke: #9370DB; */
}

svg.mermaid-classdiagram g.classGroup line {
    @apply stroke-gray-500;
    /* stroke: #9370DB; */
    stroke-width: 1;
}

svg.mermaid-classdiagram .classLabel .box {
    @apply svg-mermaid-fill-light;
    stroke: none;
    stroke-width: 0;
    opacity: 0.5;
}

svg.mermaid-classdiagram .classLabel .label {
    @apply stroke-gray-500;
    /* fill: #9370DB; */
    font-size: 10px;
}

svg.mermaid-classdiagram .relation {
    @apply svg-mermaid-stroke-dark;
    stroke-width: 1;
    fill: none;
}

svg.mermaid-classdiagram .dashed-line {
    stroke-dasharray: 3;
}

svg.mermaid-classdiagram .dotted-line {
    stroke-dasharray: 1 2;
}

svg.mermaid-classdiagram #compositionStart,
svg.mermaid-classdiagram .composition {
    @apply svg-mermaid-fill-dark svg-mermaid-stroke-dark;
    stroke-width: 1;
}

svg.mermaid-classdiagram #compositionEnd,
svg.mermaid-classdiagram .composition {
    @apply svg-mermaid-fill-dark svg-mermaid-stroke-dark;
    stroke-width: 1;
}

svg.mermaid-classdiagram #dependencyStart,
svg.mermaid-classdiagram .dependency {
    @apply svg-mermaid-fill-dark svg-mermaid-stroke-dark;
    stroke-width: 1;
}

svg.mermaid-classdiagram #dependencyStart,
svg.mermaid-classdiagram .dependency {
    @apply svg-mermaid-fill-dark svg-mermaid-stroke-dark;
    stroke-width: 1;
}

svg.mermaid-classdiagram #extensionStart,
svg.mermaid-classdiagram .extension,
svg.mermaid-classdiagram #extensionEnd,
svg.mermaid-classdiagram .extension,
svg.mermaid-classdiagram #aggregationStart,
svg.mermaid-classdiagram .aggregation,
svg.mermaid-classdiagram #aggregationEnd,
svg.mermaid-classdiagram .aggregation {
    @apply svg-mermaid-stroke-dark;
    fill: transparent !important;
    /* stroke: #333333 !important; */
    stroke-width: 1;
}

svg.mermaid-classdiagram #lollipopStart,
svg.mermaid-classdiagram .lollipop,
svg.mermaid-classdiagram #lollipopEnd,
svg.mermaid-classdiagram .lollipop {
    @apply svg-mermaid-fill-light svg-mermaid-stroke-dark;
    /* fill: #ECECFF !important; */
    /* stroke: #333333 !important; */
    stroke-width: 1;
}

svg.mermaid-classdiagram .edgeTerminals {
    font-size: 11px;
}

svg.mermaid-classdiagram .classTitleText {
    @apply svg-mermaid-fill-dark;
    text-anchor: middle;
    font-size: 18px;
}

/* end class diagram */

/* begin state diagram */

svg.mermaid-statediagram {
    fill: currentColor;
}

svg.mermaid-statediagram .edge-thickness-normal {
    stroke-width: 2px;
}

svg.mermaid-statediagram .edge-thickness-thick {
    stroke-width: 3.5px;
}

svg.mermaid-statediagram .edge-pattern-solid {
    stroke-dasharray: 0;
}

svg.mermaid-statediagram .edge-pattern-dashed {
    stroke-dasharray: 3;
}

svg.mermaid-statediagram .edge-pattern-dotted {
    stroke-dasharray: 2;
}

svg.mermaid-statediagram defs marker,
svg.mermaid-statediagram .marker {
      @apply svg-mermaid-fill-dark svg-mermaid-stroke-dark;  
}

svg.mermaid-statediagram .marker.cross {
    @apply svg-mermaid-stroke-dark;
}

svg.mermaid-statediagram defs #statediagram-barbEnd {
    @apply svg-mermaid-fill-dark svg-mermaid-stroke-dark;
}

svg.mermaid-statediagram g.stateGroup text {
    @apply svg-mermaid-fill-light;
    /* @apply fill-purple-100 dark:fill-purple-900; */
    stroke: none;
    font-size: 10px;
}

svg.mermaid-statediagram g.stateGroup text {
    @apply svg-mermaid-fill-dark;
    stroke: none;
    font-size: 10px;
}

svg.mermaid-statediagram g.stateGroup .state-title {
    @apply svg-mermaid-fill-dark;
    font-weight: bolder;
}

svg.mermaid-statediagram g.stateGroup rect {
    @apply svg-mermaid-fill-light;
    @apply stroke-purple-100 dark:stroke-purple-900;
    /* fill: #ECECFF; */
    /* stroke: #9370DB; */
}

svg.mermaid-statediagram g.stateGroup line {
    @apply svg-mermaid-stroke-dark;
    stroke-width: 1;
}

svg.mermaid-statediagram .transition {
    @apply svg-mermaid-stroke-dark;
    stroke-width: 1;
    fill: none;
}

svg.mermaid-statediagram .stateGroup .composit {
    @apply svg-mermaid-fill-light;
    border-bottom: 1px;
}

svg.mermaid-statediagram .stateGroup .alt-composit {
    @apply svg-mermaid-fill-light;
    border-bottom: 1px;
}

svg.mermaid-statediagram .state-note {
    @apply svg-mermaid-fill-yellow svg-mermaid-stroke-yellow;
}

svg.mermaid-statediagram .state-note text {
    @apply svg-mermaid-fill-dark;
    stroke: none;
    font-size: 10px;
}

svg.mermaid-statediagram .stateLabel .box {
    @apply svg-mermaid-fill-light;
    stroke: none;
    stroke-width: 0;
    /* fill: #ECECFF; */
    opacity: 0.5;
}

svg.mermaid-statediagram .edgeLabel .label rect {
    @apply svg-mermaid-fill-light;
    /* fill: #ECECFF; */
    opacity: 0.5;
}

svg.mermaid-statediagram .edgeLabel .label text {
    @apply svg-mermaid-fill-light;
}

svg.mermaid-statediagram .label div .edgeLabel {
    @apply svg-mermaid-text-dark;
}

svg.mermaid-statediagram .stateLabel text {
    @apply svg-mermaid-fill-dark;
    font-size: 10px;
    font-weight: bold;
}

svg.mermaid-statediagram .node circle.state-start,
svg.mermaid-statediagram .node .fork-join {
    @apply svg-mermaid-fill-dark svg-mermaid-stroke-dark;
}

svg.mermaid-statediagram .node circle.state-end {
    @apply fill-gray-500;
    /* fill: #9370DB; */
    @apply svg-mermaid-stroke-light;
    stroke-width: 1.5;
}

svg.mermaid-statediagram .end-state-inner {
    @apply svg-mermaid-fill-light;
    stroke-width: 1.5;
}

svg.mermaid-statediagram .node rect {
    @apply svg-mermaid-fill-light stroke-gray-500;
    /* fill: #ECECFF; */
    /* stroke: #9370DB; */
    stroke-width: 1px;
}

svg.mermaid-statediagram .node polygon {
    @apply svg-mermaid-fill-light stroke-gray-500;
    /* fill: #ECECFF; */
    /* stroke: #9370DB; */
    stroke-width: 1px;
}

svg.mermaid-statediagram #statediagram-barbEnd {
    @apply svg-mermaid-fill-dark;
}

svg.mermaid-statediagram .statediagram-cluster rect {
    @apply svg-mermaid-fill-light stroke-gray-500;
    /* fill: #ECECFF; */
    /* stroke: #9370DB; */
    stroke-width: 1px;
}

svg.mermaid-statediagram .cluster-label,
svg.mermaid-statediagram .nodeLabel {
    @apply svg-mermaid-text-dark;
}

svg.mermaid-statediagram .statediagram-cluster rect.outer {
    rx: 5px;
    ry: 5px;
}

svg.mermaid-statediagram .statediagram-state .divider {
    @apply stroke-gray-500;
    /* stroke: #9370DB; */
}

svg.mermaid-statediagram .statediagram-state .title-state {
    rx: 5px;
    ry: 5px;
}

svg.mermaid-statediagram .statediagram-cluster.statediagram-cluster .inner {
    @apply gsc-fill;
    /* fill: white; */
}

svg.mermaid-statediagram .statediagram-cluster.statediagram-cluster-alt .inner {
    @apply svg-mermaid-fill-light;
    /* fill: #f0f0f0; */
}

svg.mermaid-statediagram .statediagram-cluster .inner {
    rx: 0;
    ry: 0;
}

svg.mermaid-statediagram .statediagram-state rect.basic {
    rx: 5px;
    ry: 5px;
}

svg.mermaid-statediagram .statediagram-state rect.divider {
    @apply svg-mermaid-fill-light;
    stroke-dasharray: 10, 10;
    /* fill: #f0f0f0; */
}

svg.mermaid-statediagram .note-edge {
    stroke-dasharray: 5;
}

svg.mermaid-statediagram .statediagram-note rect {
    @apply svg-mermaid-fill-yellow svg-mermaid-stroke-yellow;
    /* fill: #fff5ad; */
    /* stroke: #aaaa33; */
    stroke-width: 1px;
    rx: 0;
    ry: 0;
}

svg.mermaid-statediagram .statediagram-note rect {
    @apply svg-mermaid-fill-yellow svg-mermaid-stroke-yellow;
    /* fill: #fff5ad; */
    /* stroke: #aaaa33; */
    stroke-width: 1px;
    rx: 0;
    ry: 0;
}

svg.mermaid-statediagram .statediagram-note text {
    @apply svg-mermaid-fill-dark;
}

svg.mermaid-statediagram .statediagram-note .nodeLabel {
    @apply svg-mermaid-text-dark;
}

svg.mermaid-statediagram .statediagram .edgeLabel {
    @apply text-red-500;
    /* color: red; */
}

svg.mermaid-statediagram #dependencyStart,
svg.mermaid-statediagram #dependencyEnd {
    @apply svg-mermaid-fill-dark svg-mermaid-stroke-dark;
    stroke-width: 1;
}

svg.mermaid-statediagram .statediagramTitleText {
    @apply svg-mermaid-fill-dark;
    text-anchor: middle;
    font-size: 18px;
}

/* end state diagram */

/* begin er diagram */

svg.mermaid-er {
    @apply svg-mermaid-fill-dark;
}

svg.mermaid-er .edge-thickness-normal {
    stroke-width: 2px;
}

svg.mermaid-er .edge-thickness-thick {
    stroke-width: 3.5px;
}

svg.mermaid-er .edge-pattern-solid {
    stroke-dasharray: 0;
}

svg.mermaid-er .edge-pattern-dashed {
    stroke-dasharray: 3;
}

svg.mermaid-er .edge-pattern-dotted {
    stroke-dasharray: 2;
}

svg.mermaid-er .marker {
    @apply svg-mermaid-fill-dark svg-mermaid-stroke-dark;
}

svg.mermaid-er .marker.cross {
    @apply svg-mermaid-stroke-dark;
}

svg.mermaid-er .attributeBoxOdd,
svg.mermaid-er .attributeBoxEven,
svg.mermaid-er .entityBox {
    @apply svg-mermaid-fill-light svg-mermaid-stroke-dark;
}

svg.mermaid-er .relationshipLabelBox {
    @apply svg-mermaid-fill-light gsc-bg;
    opacity: 0.7;
}

svg.mermaid-er .relationshipLabelBox rect {
    opacity: 0.5;
}

svg.mermaid-er .relationshipLine {
    @apply svg-mermaid-stroke-dark;
}

svg.mermaid-er .entityTitleText {
    @apply svg-mermaid-fill-dark;
    text-anchor: middle;
    font-size: 18px;
}

svg.mermaid-er #MD_PARENT_START {
    @apply svg-mermaid-fill-light svg-mermaid-stroke-dark;
    stroke-width: 1;
}

svg.mermaid-er #MD_PARENT_END {
    @apply svg-mermaid-fill-light svg-mermaid-stroke-dark;
    stroke-width: 1;
}

/* end er diagram */

/* begin pie chart */

svg.mermaid-pie {
    fill: currentColor;
}

svg.mermaid-pie .edge-thickness-normal {
    stroke-width: 2px;
}

svg.mermaid-pie .edge-thickness-thick {
    stroke-width: 3.5px;
}

svg.mermaid-pie .edge-pattern-solid {
    stroke-dasharray: 0;
}

svg.mermaid-pie .edge-pattern-dashed {
    stroke-dasharray: 3;
}

svg.mermaid-pie .edge-pattern-dotted {
    stroke-dasharray: 2;
}

svg.mermaid-pie .marker {
    @apply svg-mermaid-fill-dark svg-mermaid-stroke-dark;
}

svg.mermaid-pie .marker.cross {
    @apply svg-mermaid-stroke-dark;
}

svg.mermaid-pie .pieCircle {
    @apply svg-mermaid-stroke-dark;
    stroke-width: 2px;
    opacity: 0.7;
}

svg.mermaid-pie .pieOuterCircle {
    @apply svg-mermaid-stroke-dark;
    stroke-width: 2px;
    fill: none;
}

svg.mermaid-pie .pieTitleText {
    @apply svg-mermaid-fill-dark;
    text-anchor: middle;
    font-size: 25px;
}

svg.mermaid-pie .slice {
    @apply svg-mermaid-fill-dark;
    font-size: 17px;
}

svg.mermaid-pie .legend text {
    @apply svg-mermaid-fill-dark;
    font-size: 17px;
}

svg.mermaid-pie .legend > rect {
    @apply svg-mermaid-stroke-dark;
    stroke-width: 1px;
}

/* end pie chart */

/* begin git graph */

svg.mermaid-gitgraph {
    @apply svg-mermaid-fill-dark;
}

svg.mermaid-gitgraph .edge-thickness-normal {
    stroke-width: 2px;
}

svg.mermaid-gitgraph .edge-thickness-thick {
    stroke-width: 3.5px;
}

svg.mermaid-gitgraph .edge-pattern-solid {
    stroke-dasharray: 0;
}

svg.mermaid-gitgraph .edge-pattern-dashed {
    stroke-dasharray: 3;
}

svg.mermaid-gitgraph .edge-pattern-dotted {
    stroke-dasharray: 2;
}

svg.mermaid-gitgraph .marker {
    @apply svg-mermaid-fill-dark svg-mermaid-stroke-dark;
}

svg.mermaid-gitgraph .marker.cross {
    @apply svg-mermaid-stroke-dark;
}

svg.mermaid-gitgraph .commit-id,
svg.mermaid-gitgraph .commit-msg,
svg.mermaid-gitgraph .branch-label {
    @apply svg-mermaid-fill-light svg-mermaid-text-light;
    /* fill: lightgrey; */
    /* color: lightgrey; */
}

svg.mermaid-gitgraph .commit-cherry-pick[r="10"] {
    @apply svg-mermaid-fill-dark;
}
svg.mermaid-gitgraph .commit-cherry-pick {
    @apply svg-mermaid-fill-light svg-mermaid-stroke-light;
}

svg.mermaid-gitgraph .branch-label0,
svg.mermaid-gitgraph .branch-label1,
svg.mermaid-gitgraph .branch-label2,
svg.mermaid-gitgraph .branch-label3,
svg.mermaid-gitgraph .branch-label4,
svg.mermaid-gitgraph .branch-label5,
svg.mermaid-gitgraph .branch-label6,
svg.mermaid-gitgraph .branch-label7 {
    @apply svg-mermaid-fill-dark;
}

svg.mermaid-gitgraph .commit-highlight0,
svg.mermaid-gitgraph .commit0 {
    @apply svg-mermaid-fill-color-0 svg-mermaid-stroke-color-0;
}
svg.mermaid-gitgraph .commit-highlight1,
svg.mermaid-gitgraph .commit1 {
    @apply svg-mermaid-fill-color-1 svg-mermaid-stroke-color-1;
}
svg.mermaid-gitgraph .commit-highlight2,
svg.mermaid-gitgraph .commit2 {
    @apply svg-mermaid-fill-color-2 svg-mermaid-stroke-color-2;
}
svg.mermaid-gitgraph .commit-highlight3,
svg.mermaid-gitgraph .commit3 {
    @apply svg-mermaid-fill-color-3 svg-mermaid-stroke-color-3;
}
svg.mermaid-gitgraph .commit-highlight4,
svg.mermaid-gitgraph .commit4 {
    @apply svg-mermaid-fill-color-4 svg-mermaid-stroke-color-4;
}
svg.mermaid-gitgraph .commit-highlight5,
svg.mermaid-gitgraph .commit5 {
    @apply svg-mermaid-fill-color-5 svg-mermaid-stroke-color-5;
}
svg.mermaid-gitgraph .commit-highlight6,
svg.mermaid-gitgraph .commit6 {
    @apply svg-mermaid-fill-color-6 svg-mermaid-stroke-color-6;
}
svg.mermaid-gitgraph .commit-highlight7,
svg.mermaid-gitgraph .commit7 {
    @apply svg-mermaid-fill-color-7 svg-mermaid-stroke-color-7;
}

svg.mermaid-gitgraph .label0 {
    @apply svg-mermaid-fill-color-0;
}

svg.mermaid-gitgraph .label1 {
    @apply svg-mermaid-fill-color-1;
}

svg.mermaid-gitgraph .label2 {
    @apply svg-mermaid-fill-color-2;
}

svg.mermaid-gitgraph .label3 {
    @apply svg-mermaid-fill-color-3;
}

svg.mermaid-gitgraph .label4 {
    @apply svg-mermaid-fill-color-4;
}

svg.mermaid-gitgraph .label5 {
    @apply svg-mermaid-fill-color-5;
}

svg.mermaid-gitgraph .label6 {
    @apply svg-mermaid-fill-color-6;
}

svg.mermaid-gitgraph .label7 {
    @apply svg-mermaid-fill-color-7;
}

svg.mermaid-gitgraph .arrow0 {
    @apply svg-mermaid-stroke-color-0;
}
svg.mermaid-gitgraph .arrow1 {
    @apply svg-mermaid-stroke-color-1;
}

svg.mermaid-gitgraph .arrow2 {
    @apply svg-mermaid-stroke-color-2;
}

svg.mermaid-gitgraph .arrow3 {
    @apply svg-mermaid-stroke-color-3;
}

svg.mermaid-gitgraph .arrow4 {
    @apply svg-mermaid-stroke-color-4;
}

svg.mermaid-gitgraph .arrow5 {
    @apply svg-mermaid-stroke-color-5;
}

svg.mermaid-gitgraph .arrow6 {
    @apply svg-mermaid-stroke-color-6;
}

svg.mermaid-gitgraph .arrow7 {
    @apply svg-mermaid-stroke-color-7;
}

svg.mermaid-gitgraph .branch {
    @apply svg-mermaid-stroke-dark;
    stroke-width: 1;
    stroke-dasharray: 2;
}

svg.mermaid-gitgraph .commit-label {
    @apply svg-mermaid-fill-dark;
    font-size: 10px;
    /* fill: #000021; */
}

svg.mermaid-gitgraph .commit-label-bkg {
    @apply svg-mermaid-fill-light;
    font-size: 10px;
    opacity: 0.5;
}

svg.mermaid-gitgraph .tag-label {
    @apply svg-mermaid-fill-light svg-mermaid-text-light;
    font-size: 10px;
}

svg.mermaid-gitgraph .tag-label-bkg {
    @apply svg-mermaid-fill-dark svg-mermaid-stroke-light;
}

svg.mermaid-gitgraph .tag-hole {
    @apply svg-mermaid-fill-light;
}

svg.mermaid-gitgraph .commit-merge,
svg.mermaid-gitgraph .commit-highlight-inner {
    @apply svg-mermaid-fill-light svg-mermaid-stroke-light;
    /* stroke: #ECECFF; */
    /* fill: #ECECFF; */
}

svg.mermaid-gitgraph .commit-reverse {
    @apply svg-mermaid-fill-light svg-mermaid-stroke-light;
    /* stroke: #ECECFF; */
    /* fill: #ECECFF; */
    stroke-width: 3;
}

svg.mermaid-gitgraph .arrow {
    stroke-width: 8;
    stroke-linecap: round;
    fill: none;
}

svg.mermaid-gitgraph .gitTitleText {
    @apply svg-mermaid-fill-dark;
    text-anchor: middle;
    font-size: 18px;
}

/* end git graph */

/* begin wavedrom */

.svg-wavedrom-text-dark {
    @apply text-gray-800 dark:text-gray-200;
}
.svg-wavedrom-stroke-dark {
    @apply stroke-gray-800 dark:stroke-gray-200;
}
.svg-wavedrom-fill-dark {
    @apply fill-gray-800 dark:fill-gray-200;
}
.svg-wavedrom-fill-light {
    @apply fill-gray-200 dark:fill-gray-800;
}

.svg-wavedrom text {
    font-size: 11pt;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-stretch: normal;
    text-align: center;
    fill-opacity: 1;
    font-family: Helvetica
}

.svg-wavedrom .h1 {
    font-size: 33pt;
    font-weight: bold
}

.svg-wavedrom .h2 {
    font-size: 27pt;
    font-weight: bold
}

.svg-wavedrom .h3 {
    font-size: 20pt;
    font-weight: bold
}

.svg-wavedrom .h4 {
    font-size: 14pt;
    font-weight: bold
}

.svg-wavedrom .h5 {
    font-size: 11pt;
    font-weight: bold
}

.svg-wavedrom .h6 {
    font-size: 8pt;
    font-weight: bold
}

.svg-wavedrom .muted {
    @apply fill-gray-500;
}

.svg-wavedrom .warning {
    @apply fill-yellow-700 dark:fill-yellow-400;
}

.svg-wavedrom .error {
    @apply fill-red-700 dark:fill-red-400;
}

.svg-wavedrom .info {
    @apply fill-blue-700 dark:fill-blue-400;
}

.svg-wavedrom .success {
    @apply fill-green-700 dark:fill-green-400;
}

.svg-wavedrom .s1 {
    @apply svg-wavedrom-stroke-dark;
    fill: none;
    stroke-width: 1;
    stroke-linecap: round;
    stroke-linejoin: miter;
    stroke-miterlimit: 4;
    stroke-opacity: 1;
    stroke-dasharray: none
}

.svg-wavedrom .s2 {
    @apply svg-wavedrom-stroke-dark;
    fill: none;
    stroke-width: 0.5;
    stroke-linecap: round;
    stroke-linejoin: miter;
    stroke-miterlimit: 4;
    stroke-opacity: 1;
    stroke-dasharray: none
}

.svg-wavedrom .s3 {
    @apply svg-wavedrom-stroke-dark svg-wavedrom-text-dark;
    fill: none;
    stroke-width: 1;
    stroke-linecap: round;
    stroke-linejoin: miter;
    stroke-miterlimit: 4;
    stroke-opacity: 1;
    stroke-dasharray: 1, 3;
    stroke-dashoffset: 0;
    marker: none;
    visibility: visible;
    display: inline;
    overflow: visible
}

.svg-wavedrom .s4 {
    @apply svg-wavedrom-stroke-dark svg-wavedrom-text-dark;
    fill: none;
    stroke-width: 1;
    stroke-linecap: round;
    stroke-linejoin: miter;
    stroke-miterlimit: 4;
    stroke-opacity: 1;
    stroke-dasharray: none;
    stroke-dashoffset: 0;
    marker: none;
    visibility: visible;
    display: inline;
    overflow: visible
}

.svg-wavedrom .s5 {
    @apply fill-gray-50 dark:fill-gray-900;
    /* @apply bg-gray-50 dark:bg-gray-900; */
    stroke: none
}

.svg-wavedrom .s6 {
    @apply svg-wavedrom-fill-dark;
    fill-opacity: 1;
    stroke: none
}

.svg-wavedrom .s7 {
    /* @apply svg-wavedrom-text-dark svg-wavedrom-fill-light; */
    color: #000;
    fill: #fff;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: none;
    stroke-width: 1px;
    marker: none;
    visibility: visible;
    display: inline;
    overflow: visible
}

.svg-wavedrom .s8 {
    @apply svg-wavedrom-text-dark fill-yellow-200;
    /* color: #000;
    fill: #ffffb4; */
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: none;
    stroke-width: 1px;
    marker: none;
    visibility: visible;
    display: inline;
    overflow: visible
}

.svg-wavedrom .s9 {
    color: #000;
    fill: #ffe0b9;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: none;
    stroke-width: 1px;
    marker: none;
    visibility: visible;
    display: inline;
    overflow: visible
}

.svg-wavedrom .s10 {
    color: #000;
    fill: #b9e0ff;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: none;
    stroke-width: 1px;
    marker: none;
    visibility: visible;
    display: inline;
    overflow: visible
}

.svg-wavedrom .s11 {
    color: #000;
    fill: #ccfdfe;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: none;
    stroke-width: 1px;
    marker: none;
    visibility: visible;
    display: inline;
    overflow: visible
}

.svg-wavedrom .s12 {
    color: #000;
    fill: #cdfdc5;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: none;
    stroke-width: 1px;
    marker: none;
    visibility: visible;
    display: inline;
    overflow: visible
}

.svg-wavedrom .s13 {
    color: #000;
    fill: #f0c1fb;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: none;
    stroke-width: 1px;
    marker: none;
    visibility: visible;
    display: inline;
    overflow: visible
}

.svg-wavedrom .s14 {
    color: #000;
    fill: #f5c2c0;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: none;
    stroke-width: 1px;
    marker: none;
    visibility: visible;
    display: inline;
    overflow: visible
}

.svg-wavedrom .s15 {
    fill: #0041c4;
    fill-opacity: 1;
    stroke: none
}

.svg-wavedrom .s16 {
    fill: none;
    stroke: #0041c4;
    stroke-width: 1;
    stroke-linecap: round;
    stroke-linejoin: miter;
    stroke-miterlimit: 4;
    stroke-opacity: 1;
    stroke-dasharray: none
}

.svg-wavedrom .dot {
    @apply stroke-gray-700 dark:stroke-gray-300;
}

/* end wavedrom */
